@model List<BookShop.Models.Book>

@using BookShop.Models;

@{
    ViewBag.Title = "Home Page";
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="table-responsive">
    <br /><br /><h2>在售书籍</h2><br /><br />
    <table border="0" cellspacing="0" cellpadding="0" class="table">
        <tr class=" label-primary">
            <th scope="col"><span style="color:white">书名</span></th>
            <th scope="col"><span style="color:white">出售人</span></th>
            <th scope="col"><span style="color:white">现价</span></th>
            <th scope="col"><span style="color:white">原价</span></th>
            <th scope="col"><span style="color:white">种类</span></th>
            <th scope="col"><span style="color:white">ISBN</span></th>
            <th scope="col"><span style="color:white">介绍</span></th>
        </tr>
        @{
            DataMaintain db = new DataMaintain();
            List<Book> books = db.Book.ToList();
            foreach (var book in books) //所有在售书的列表
            {
                string seller = "";
                User user = db.User.Find(book.Seller);
                if (user != null)
                {
                    seller = user.NickName;
                }
                <tr onclick="top.location.href='@Url.Action("BookDetail", "Books", new { id = book.Id })'">
                    <td>@book.BookName</td>
                    <td>@seller</td>
                    <td>@book.CurPrice</td>
                    <td>@book.OrgPrice</td>
                    <td>@book.Catogory</td>
                    <td>@book.ISBN</td>
                    <td>@book.Introduce</td>
                </tr>
            }
        }
    </table>
</div>