@model BookShop.Models.User

@{
    ViewBag.Title = "UserIndex";
}

@using BookShop.Controllers;
@using BookShop.Models;

@if (SessionHelper.Get("id") != null)
{
    DataMaintain db = new DataMaintain();
    int curid = int.Parse(SessionHelper.Get("id").ToString());
    User curUser = db.User.FirstOrDefault(m => m.Id == curid);
    if (curUser != null)
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="table-responsive">
            <br /><br /><h2>我的信息</h2><br /><br />
            <table border="0" cellspacing="0" cellpadding="0" class="table">
                @*<tr class=" label-primary">
                        <th scope="col" width="50%"><span style="color:white"></span></th>
                        <th scope="col"><span style="color:white"></span></th>
                    </tr>*@
                <tr>
                    <td width="30%">Email</td>
                    <td>@curUser.Email</td>
                </tr>
                <tr>
                    <td>NickName</td>
                    <td>@curUser.NickName</td>
                </tr>
                <tr>
                    <td>QQ</td>
                    <td>@curUser.QQ</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>@curUser.Phone</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>@curUser.Address</td>
                </tr>
            </table>
        </div>

        <div class="col-md-2 col-xs-4">
            <input type="button" onclick="top.location.href='@Url.Action("UserEdit", "Users", new { id = curid })'" value="修改个人信息" class="btn btn-default" />
        </div>

        <div class="col-md-2 col-xs-4">
            <input type="button" onclick="top.location.href='@Url.Action("Logoff", "Users")'" value="注销" class="btn btn-default" />
        </div>
    }

}


